



<div class="container">
      <div class="jumbotron">
        <h1>Genesis</h1>
        <p class="lead">We Like Lists Because We Don't Want to Die</p>
        <br>
            <p><small>The list is the origin of culture. It's part of the history of art and literature. What does culture want? To make infinity comprehensible. It also wants to create order -- not always, but often. And how, as a human being, does one face infinity? How does one attempt to grasp the incomprehensible? Through lists. 
            Swoosh aims to improve people's productivity by making things more comprehensible in an infinite world of weird, chaos and bliss.</small> </p>
      </div>
</div> <!-- /container -->